*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito' ,sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 1rem 3rem;
    backdrop-filter: blur(3px)brightness(1.5);
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);

    .right{
        width: 40%;

        nav{
            display: flex;
            justify-content: space-between;

            .active{
                border-bottom: 2px solid red;
                color: red;
            }

            a{
                text-decoration: none;
                color: white;
                transition: color 0.3s;
                font-weight: 900;

                &:hover{
                    color: red;
                    border-bottom: 2px solid red;
                }
            }
        }
    }
}

footer {
    background-color: #0d0d0d;
    padding: 0.5rem 0;

    .footer-container{
        color: white;
        display: flex;
        justify-content: space-evenly;
    }
}

main{
    min-height: calc(100vh - 37.6px);

    img{
        object-fit: cover;
    }
}